<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name ="WPFServer.Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:323/IContract"/>
          </baseAddresses>
        </host>
        <!-- указываем адрес, привязку и контракт -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="ClassLibraryContract.IContract" />
      </service>
    </services>
  </system.serviceModel>
</configuration>